<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', {title : 'Maison Propiedades' }) %>

  <body>
    <%- include('./partials/header') %>
    <main>
      <section class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="/img/hero-mano.jpg" alt="Imagen 1" />
          </div>
          <div class="swiper-slide">
            <img src="/img/hero-montevideo.jpg" alt="Imagen 2" />
          </div>
          <div class="swiper-slide">
            <img src="/img/hero-punta.jpg" alt="Imagen 3" />
          </div>
        </div>
      </section>

      <section class="buscador">
        <form action="/buscar" method="GET">
          <div>
            <select id="operacion" name="operacion">
              <option value="" selected>Operación:</option>
              <option value="venta">Venta</option>
              <option value="alquiler">Alquiler</option>
              <option value="temporal">Alquiler temporal</option>
            </select>
          </div>
          <div>
            <select id="tipo" name="tipo">
              <option value="" selected>Tipo de propiedad:</option>
              <option value="casa">Casa</option>
              <option value="departamento">Departamento</option>
              <option value="terreno">Terreno</option>
            </select>
          </div>
          <div>
            <select id="" name="zona">
              <option value="" selected>Zona:</option>
              <option value="priapolis ">Priápolis</option>
              <option value="barra">La Barra</option>
              <option value="montevideo">Montevideo</option>
            </select>
          </div>
          <button type="submit">Buscar</button>
        </form>
      </section>

      <div class="destacadas">
        <h2 class="mainTitle">PROPIEDADES DESTACADAS</h2>
        <section class="propList_wrapper">
          <% let destacadasCount = 0; %> <% propiedades.forEach(propiedad => {
          %> <% if (propiedad.destacada && destacadasCount < 8) { %> <%-
          include('./components/cards', { propiedad }) %> <% destacadasCount++;
          %> <% } %> <% }) %>

          <!-- Si son menos de 8 destacadas va a meter cualquier propiedad de la base de datos -->
          <% if (destacadasCount < 8) { %> <% propiedades.forEach(propiedad => {
          %> <% if (!propiedad.destacada && destacadasCount < 8) { %> <%-
          include('./components/cards', { propiedad }) %> <% destacadasCount++;
          %> <% } %> <% }) %> <% } %>
        </section>
        <a class="verMas" href="">VER TODAS LAS PROPIEDADES DESTACADAS</a>
      </div>

      <section class="nosotros" id="nosotros">
        <div>
          <h3>SOBRE NOSOTROS</h3>
          <p>
            Somos una empresa Joven con vocación en dar el mejor servicio tanto
            profesional como humano a cada uno de nuestros clientes, nos definen
            nuestros valores y pasión por la profesión que ejercemos. Nuestra
            Integridad, profesionalismo y empatía nos permite acompañar y
            asesorar en cada proceso de una forma más exhaustiva y personal.
            Permitiendo cumplir las expectativas de nuestros clientes. Nuestro
            objetivo es brindar respuestas a sus necesidades, logrando que sus
            sueños e ilusiones se transformen en la concreción de grandes
            proyectos.
          </p>
        </div>
      </section>
    </main>

    <%- include('./partials/footer') %>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".swiper-container", {
        loop: true,
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },
      });
    </script>
  </body>
</html>
